/* Sass Control
------------------------------------- */
/* =PRODUCT LIST
---------------------------------- */
h2.rt-product-title {
  font-weight: normal;
  font-size: 14px;
  margin: 25px 0 0 0;
  clear: both; }
  h2.rt-product-title .rt-product-icon {
    font-size: 16px;
    padding: 4px 7px;
    margin: 0 10px 0 0;
    background: #68c5d7;
    color: #FFFFFF; }
    h2.rt-product-title .rt-product-icon:hover {
      background: #288597;
      cursor: pointer; }

div.rt-product-description {
  display: none;
  color: white;
  background: #68c5d7;
  padding: 10px;
  margin: 5px 0 0 0;
  width: 50%;
  clear: none; }
  div.rt-product-description p, div.rt-product-description ul {
    width: 60%; }
  div.rt-product-description .rt-product-price, div.rt-product-description .rt-product-preview {
    float: right;
    background: #3fb5cc;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    clear: right;
    width: 30%;
    text-align: center; }
  div.rt-product-description .rt-product-price {
    background: #288597;
    font-size: 28px;
    font-weight: bold; }
  div.rt-product-description .rt-product-preview {
    margin: 10px 0 0 0;
    font-size: 16px; }
    div.rt-product-description .rt-product-preview:hover {
      background: #288597; }
