/* Sass Control
------------------------------------- */
$primary: #000000;
$accent-1: #288597;
$shadow: #CCCCCC;
$success: #009b77;
$error: #CC0000;

@mixin gradient( $bottom-color: $primary, $top-color: lighten($primary, 25%) ) {
  background-color: $top-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color) );
  background-image: -webkit-linear-gradient(top, $top-color, $bottom-color);
  background-image: -moz-linear-gradient(top, $top-color, $bottom-color);
  background-image: -ms-linear-gradient(top, $top-color, $bottom-color);
  background-image: -o-linear-gradient(top, $top-color, $bottom-color);
  background-image: linear-gradient(top, $top-color, $bottom-color);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="+$top-color+", endColorstr="+$bottom-color+", GradientType=0)";
}

@mixin shadow( $x-val: 3px, $y-val: 3px, $blur: 5px, $color: $shadow ) {
  -moz-box-shadow: $x-val $y-val $blur $color; /* Firefox */  
  -webkit-box-shadow: $x-val $y-val $blur $color; /* Safari, Chrome */  
  box-shadow: $x-val $y-val $blur $color; /* CSS3 */
}

@mixin opacity( $opacity-val: 50 ) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacity-val + ")"; /* IE 8 */
  -moz-opacity: $opacity-val / 100; /* firefox */
  -khtml-opacity: $opacity-val / 100; /* safari 1.x */
  opacity: $opacity-val / 100; /* modern browsers */
}

@mixin corners( $radius: 15px ) {
  -moz-border-radius: $radius; /* Firefox */  
  -webkit-border-radius: $radius; /* Safari, Chrome */  
  border-radius: $radius; /* CSS3 */ 
}

@mixin button( $color: lighten($primary, 20%) ) {
  //@include gradient( $color, lighten($color, 20%) );
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    //@include gradient( $color, darken($color, 20%) );
  }
}

/* =PRODUCT LIST
---------------------------------- */
h2.rt-product-title {
  font-weight: normal;
  font-size: 14px;
  margin: 25px 0 0 0;
  clear: both;
  .rt-product-icon {
    font-size: 16px;
    padding: 4px 7px;
    margin: 0 10px 0 0;
    background: lighten($accent-1, 25%);
    color: #FFFFFF;
    &:hover {
      background: $accent-1;
      cursor: pointer;
    }
  }
}

div.rt-product-description {
  display: none;
  color: lighten($primary, 100%);
  background: lighten($accent-1, 25%);
  padding: 10px;
  margin: 5px 0 0 0;
  width: 50%;
  clear: none;
  p, ul {
    width: 60%;
  }
  .rt-product-price, .rt-product-preview {
    float: right;
    background: lighten($accent-1, 15%);
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    clear: right;
    width: 30%;
    text-align: center;
  }
  .rt-product-price {
    background: $accent-1;
    font-size: 28px;
    font-weight: bold;
  }
  .rt-product-preview {
    margin: 10px 0 0 0;
    font-size: 16px;
    &:hover {
      background: $accent-1;
    }
  }
}

