/* Sass Control
------------------------------------- */
/* =CONTAINERS & CONTENT
---------------------------------- */
div.rt-feat-product {
  width: 500px;
  margin: 0 0 15px 0;
  background: #68c5d7;
  color: #FFFFFF;
  padding: 0 0 10px 0; }
  div.rt-feat-product h3 {
    background: #288597;
    padding: 10px;
    margin: 0;
    border-bottom: 3px solid white; }
  div.rt-feat-product .rt-product-info {
    padding: 10px; }
  div.rt-feat-product .rt-feat-product-description {
    margin: 0 0 5px 0; }

h2.rt-product-title {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  clear: both;
  width: 50%; }
  h2.rt-product-title .rt-product-icon {
    font-size: 16px;
    padding: 4px 7px;
    margin: 0 10px 0 0;
    background: #68c5d7;
    color: #FFFFFF; }
    h2.rt-product-title .rt-product-icon:hover {
      background: #288597;
      cursor: pointer; }

div.rt-product-description {
  display: none;
  color: white;
  background: #68c5d7;
  padding: 10px;
  margin: 5px 0;
  width: 480px; }

/* =BUTTONS
---------------------------------- */
.rt-product-button {
  background: #3fb5cc;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 120px; }
  .rt-product-button:hover {
    text-decoration: none; }
  .rt-product-button:hover {
    text-decoration: none; }

.rt-product-price {
  float: right;
  clear: right;
  margin: 0 0 10px 10px; }

.rt-product-preview {
  float: right;
  clear: right;
  margin: 0 0 10px 10px; }
  .rt-product-preview:hover {
    background: #288597; }

.rt-product-learn-more {
  float: left;
  clear: left; }
  .rt-product-learn-more:hover {
    background: #288597; }

/* =LINE
---------------------------------- */
hr.rt-product-line {
  width: 480px;
  padding: 0 10px;
  margin: 15px 0;
  background: #d9d9d9; }

/* =RESPONSIVE
---------------------------------- */
@media screen and (max-width: 600px) {
  div.rt-feat-product, hr.rt-product-line, div.rt-product-description {
    width: 100%; } }
